*{
    margin: 0;
    padding: 0;
   scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
}

body{
    background-color: rgb(250, 250, 250);
}

.head{
    font-weight: 700;
    padding: 7px;
    text-align: center;
    background-color: orangered;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
    display: flex;
}

.home-btn{
    text-decoration: none;
    color: #dddddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.home-btn1{
    margin-left: 2px;
    text-decoration: none;
    color: #161616;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.home-content{
    height: 1770px;
    
}

.search-title{
    font-weight: 700;
    position:fixed;
   
    
}





